@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}
body{
    display: flex;
    gap: 10px;
}
nav a li{
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px;
    color: black;
}
nav a li:hover{
    background-color: #ccc;
    transition: 0.3s ease-in-out;

}

a{
    text-decoration: none;
}
header{
    border: 1px solid #ccc;
    height: 100vh;
}
nav h1{
    font-size: 20px;
 font-weight: 500;
    border-bottom:1px solid #ccc;
    padding: 10px;
}
section{
    margin-bottom: 50px;
    scroll-margin: 50px;
   
}

section h2{
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom:20px;
}
section article{
    font-size: 14px;
    max-width: 1200px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section article ul{
    margin-left: 20px;
}
section article ul li{
    margin-bottom: 10px;

}
section article p{
    font-size: 20px;
    line-height: 1.6;
}
code{
   white-space: pre-line;
   line-height: 2;
   background: #f7f7f7;
   border-radius: 5px;
   padding: 10px;
   margin: 15px;
}
/* media qure---------- */
@media(max-width:480px){
    body{
        flex-direction: column;
    }
    header{
        height: 200px;
        overflow: hidden;
        overflow-y: scroll;
    }
}